@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  background-image: url(../images/pattern-background-mobile.svg);
  background-repeat:repeat-x;
  background-color: #E0E8FF;
  max-width: 1440px;
  margin: auto;
  font-family: "Red Hat Display", sans-serif;
  position: relative;


}

.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 400px;
  padding-top: 100px;

}

.card {
  background: white;
  width: 400px;
  border-radius: 20px 20px 20px 20px;
  

}

.cover img {
  width: 400px;
  border-radius: 20px 20px 0px 0px;
}

.description p {
  font-size: 16px;
  color: grey;
  padding: 0px 40px 0px 40px;
}

.annual {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: rgba(247, 247, 247, 0.822);
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 8px;

}

.annual img{
width: 40px;
position: absolute;
display: flex;
align-items: flex-start;
}

.annual a {
  padding-top: 25px;
}

.annual a:hover {
  color: hsl(224, 23%, 55%);
}

.card .button input {
  padding: 10px 90px;
  display: block;
  margin: auto;
  margin-top: 30px;
  border: none;
  background: hsl(245, 75%, 52%);
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 200ms;
}

.card .button input:hover {
  background: hsl(224, 30%, 62%);
}

.button a {
  color: hsl(224, 23%, 55%);
  display: block;
  margin: auto;
  padding: 20px;
  text-decoration: none;
}

.button a:hover {
  color: hsl(223, 47%, 23%);
}

@media (min-width: 700px) {
  body {
    background-image: url(../images/pattern-background-desktop.svg); 
    background-repeat:repeat-x;
  }
}